<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class = "navbar">
      <%= link_to lists_path do %>
        <%= image_tag "popcorn.png", class: "logo" %>
      <% end %>
      <div class ="d-flex">
        <%= link_to new_list_path do %>
          <p>Add a new list</p>
        <% end %>
        <%= link_to lists_path do %>
          <p>My Lists</p>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
